{% extends "master_pdf.twig" %}

{% block subtitulo %}
Lista de empleados
{% endblock %}

{% block contenido %}
    <div class="tabla-borde">
        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>C&eacute;dula</th>
                    <th>Correo</th>
                    <th>Salario</th>
                    <th>Tel&eacute;fono</th>
                </tr>
            </thead>
            <tbody>
                {% for e in empleados %}
                    <tr>
                        <td>{{ e.nombres }}</td>
                        <td>{{ e.cedula }}</td>
                        <td>{{ e.correo }}</td>
                        <td>$ {{ e.salario|number_format }}</td>
                        <td>{{ e.telefono }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}